div.home {
  > {
    h1 {
      color: #333;
      padding-bottom: 20px;
      text-align: center;
    }
          
    p {
      color: #777777;
    }
          
    a {
      display: block;
      width: 150px;
      padding: 8px 0;
      margin: 20px auto;
      background: #4979ff;
      border-radius: 4px;
      color: white;
      text-align: center;
    }
  }
}
